body {
    margin: 0%;
  }
  header {
    text-align: center;
  }
  
  h1 {
    text-align: center;
    margin-top: 50px;
    font-size: xx-large;
  }
  
  div {
    width: 700px;
    margin-inline: auto;
  }
  
  ul {
    margin-top: 5px;
  }
  
  h3 {
    margin-bottom: 15px;
    font-weight: 500;
  }
  
  a {
    color: #0f7777;
  }
  
  figcaption {
    text-align: center;
    margin-top: 2px;
    margin-bottom: 45px;
    color: lightgrey;
  }
  
  header img {
    width: 200px;
    margin: 10px;
  }
  
  header h4 {
    color: #0f7777;
    text-transform: uppercase;
    font-size: 10px;
    margin-top: 0;
    font-weight: bold;
  }
  
  main h4 {
    margin-bottom: 5px;
  }
  
  .sfondo-scritta {
    background-color: rgba(241, 228, 130, 0.719);
    width: 100%;
    height: 30px;
  }
  
  .linea-piccola {
    background-color: rgb(241, 232, 151);
    width: 100%;
    height: 2px;
  }
  
  section img {
    width: 700px;
    border-radius: 6px;
    box-shadow: 5px 5px 5px rgba(128, 128, 128, 0.514);
  }
  
  section h4 {
    margin-bottom: 5px;
    color: rgba(192, 72, 24, 0.842);
    text-transform: uppercase;
  }
  
  section a {
    font-weight: bold;
  }
  
  .linea-ingredienti {
    background-color: rgba(191, 224, 230, 0.5);
    width: 100%;
    height: 2px;
  }
  
  .linea-procedimenti {
    background-color: rgba(191, 224, 230, 0.5);
    width: 100%;
    height: 2px;
  }
  
  .spazio-ingredienti {
    margin-top: 50px;
  }
  
  ul li {
    line-height: 35px;
  }
  
  ol li {
    font-weight: bold;
  }